<div class=" bg-body-dark py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-lg px-4 md:px-8">
    <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">間取り選択</label>
    <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option selected>間取り</option>
      <% @layouts.each do |layout| %>
        <option value="<%= layout.id %>"><%= layout.name %></option>
      <% end %>
    </select>
  </div>
</div>