<div class=" bg-body-dark py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-lg px-4 md:px-8">
    <div class="card flex-auto bg-base-100 shadow-xl text-center">
      <div class="card-body pt-8 pb-8">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">使い方</h1>
        <p class="mb-8 leading-relaxed">
        <br>LINEログインしてから使ってください〜〜〜<br>
        </p>
        <%= link_to user_line_omniauth_authorize_path, class: 'block mx-auto', method: :post do %>
          <%= image_tag 'btn_login_base.png' %>
        <% end %>
        <%= link_to "チェックリストへ" ,rooms_path,  method: :get %>
      </div>
    </div>
  </div>
</div>
