<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">大掃除おつかれさまです！よいお年を！</h3>
    <%= image_tag 'yoiotosiwo.png' %>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn" onclick="document.getElementById('my_modal_1').close();">閉じる</button>
      </form>
    </div>
  </div>
</dialog>